.App {
  text-align: center;
  height: 100vh;
  background-image: linear-gradient(to right bottom, #e6ecf0, #d5e5f6, #ccdbfc, #cecffe, #d8c0fb, #ecbaec, #f9b7da, #ffb6c8, #ffc7bf, #f9d9c5, #f3e9d8, #f5f6f0);
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
